@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;700&family=Raleway&display=swap");
body {
  font-family: "Raleway", sans-serif;
}

.section-outer {
  max-width: 1440px;
  margin: 0 auto;
}

.section-inner {
  max-width: 1140px;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
}
@media (max-width: 400px) {
  h1 {
    font-size: 35px;
  }
}

h2 {
  font-size: 38px;
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.9);
  padding-top: 120px;
  text-align: center;
}
@media (max-width: 700px) {
  h2 {
    padding-top: 60px;
  }
}

h3 {
  font-size: 20px;
  font-family: "Merriweather", serif;
  color: #505050;
}

h4 {
  font-size: 18px;
  font-family: "Merriweather", serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.62);
  padding-top: 12px;
  letter-spacing: 1.4px;
  text-align: center;
}

h5 {
  font-size: 17px;
  font-family: "Merriweather", serif;
  margin-top: 38px;
  color: #505050;
}

h6 {
  font-size: 16px;
  font-weight: 400;
  margin-top: 31px;
  letter-spacing: 0.8px;
  color: #505050;
  line-height: 1.8em;
}

img {
  background-size: cover;
  background-image: url("/img/blurry.svg");
}

.btn {
  padding: 13px 45px;
  margin: 0;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  transition: 0.2s;
  letter-spacing: 2.16px;
  cursor: pointer;
  border-radius: 2px;
}
@media (max-width: 400px) {
  .btn {
    padding: 13px 35px;
  }
}
.btn--primary {
  border: 2px solid #505050;
}
.btn--primary:hover {
  background-color: #505050;
  color: white;
}
.btn_secondary {
  padding: 20px 37px;
  background-color: #6df6eb;
  opacity: 1;
  margin-left: 0;
  border: none;
  margin: 38px 0;
  margin-right: auto;
}
.btn_secondary:hover {
  background-color: #505050;
  color: white;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 125px 0;
  gap: 0.9rem;
}
@media (max-width: 800px) {
  .content-wrapper {
    margin: 60px 0;
  }
}

.section-header {
  background-color: #eff0f2;
}

.wrapper-header-content {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  margin-top: 17%;
}
.wrapper-header-content .btn {
  margin-top: 15%;
}

.logo {
  padding-top: 6%;
}
.logo .logo-wrapper {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  display: flex;
  width: 115px;
  height: 45px;
  border: 5.5px solid rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}
@media (max-width: 1140px) {
  .logo .logo-wrapper {
    margin: 0 auto;
  }
}
.logo .logo-wrapper h5 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
.logo .logo-wrapper__logo-link {
  text-decoration: none;
}
.logo .logo-wrapper__logo-text {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.9);
}
.logo .logo-wrapper__logo-text_letter-o {
  color: #6df6eb;
  font-size: 21px;
  -webkit-text-stroke: 1px #505050;
}

.header-text {
  text-align: center;
  letter-spacing: 1px;
}
.header-text-wrapper__text {
  text-shadow: 3.5px 8.3px 10px rgba(0, 0, 0, 0.24);
  color: #505050;
}
.header-text-wrapper__text-selected {
  background-color: #6df6eb;
  padding: 0 15px;
  margin-right: 5px;
}
.header-text-wrapper__text-selected-last {
  background-color: #6df6eb;
  padding: 0 0 0 15px;
  margin-right: 5px;
}
@media (max-width: 480px) {
  .header-text-wrapper__text-selected-last {
    padding: 0 15px 0 15px;
  }
}

.img-header {
  text-align: right;
  margin-bottom: 30%;
}
@media (max-width: 1140px) {
  .img-header {
    text-align: center;
    margin-top: 10%;
  }
}

.section-about-us {
  background-color: #f8fafa;
}
.section-about-us .content-about-us-wrapper {
  margin-top: 150px;
  padding-bottom: 165px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .section-about-us .content-about-us-wrapper {
    margin-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 400px) {
  .section-about-us .content-about-us-wrapper {
    margin: 20px 10px;
  }
  .section-about-us .content-about-us-wrapper img {
    max-width: calc(100% - 20px);
    height: auto;
  }
}
.section-about-us .content-about-us-wrapper__image {
  box-shadow: 0 0 30px 0 rgba(20, 20, 21, 0.13);
}
.section-about-us .content-about-us-wrapper__text {
  width: 45%;
}
@media (max-width: 800px) {
  .section-about-us .content-about-us-wrapper__text {
    width: 390px;
    padding: 20px 10px 0px 10px;
  }
}
.section-about-us .content-about-us-wrapper__text span {
  display: block;
  margin-top: 35px;
}
.section-about-us .content-about-us-wrapper__text-bottom {
  margin-top: 27px;
}

.section-featured-works .section-innerr {
  position: relative;
  min-height: 100vh;
}
.section-featured-works .content-wrapper__item {
  transition: 0.2s linear;
}
.section-featured-works .content-wrapper__item:hover {
  transform: scale(1.1);
}
@media (max-width: 400px) {
  .section-featured-works .content-wrapper img {
    margin: 0 10px;
    max-width: calc(100% - 20px);
    height: auto;
  }
}
.section-featured-works .popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: 100%;
  z-index: 100;
}
.section-featured-works .popup span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}
.section-featured-works .popup img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}
@media (max-width: 400px) {
  .section-featured-works .popup img {
    max-width: calc(100% - 20px);
    height: auto;
  }
}

.section-team {
  background-color: #f9fbfb;
}
.section-team .content-wrapper img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 400px) {
  .section-team .content-wrapper img {
    max-width: calc(100% - 20px);
  }
}
.section-team .content-wrapper__item {
  position: relative;
  text-align: center;
}
.section-team .content-wrapper__item-dialog {
  text-align: center;
  max-width: 90%;
  opacity: 0;
  transition: 0.2s;
  background-color: #6df6eb;
  position: absolute;
  bottom: 4%;
  left: 5%;
}
.section-team .content-wrapper__item-dialog__name {
  margin-top: 35px;
}
.section-team .content-wrapper__item-dialog h3 {
  display: inline;
  color: rgba(0, 0, 0, 0.9);
}
.section-team .content-wrapper__item-dialog h5 {
  margin: 0;
  display: inline;
  font-weight: 400;
}
.section-team .content-wrapper__item-dialog h6 {
  margin-top: 20px;
  padding: 0 30px;
  color: rgba(0, 0, 0, 0.9);
  text-align: left;
  line-height: 1.4rem;
}
.section-team .content-wrapper__item-dialog ul {
  margin-top: 40px;
  padding-left: 30px;
  display: flex;
  list-style: none;
  align-items: center;
}
.section-team .content-wrapper__item-dialog ul li {
  margin-right: 20px;
}
.section-team .content-wrapper__item-dialog ul li a:hover img {
  transform: scale(1.1);
}
.section-team .content-wrapper__item nav {
  margin-bottom: 40px;
}
.section-team .content-wrapper__item-dialog::before {
  position: absolute;
  top: -25px;
  left: 7%;
  margin: 0;
  padding: 0;
  display: block;
  width: 0;
  height: 0;
  content: "";
  border-color: transparent;
  border-width: 10px 15px;
  border-style: solid;
  border-left-color: #6df6eb;
  transform: rotate(-0.25turn);
}
.section-team .content-wrapper__item:hover div {
  opacity: 1;
}

.section-feedback {
  background: linear-gradient(white, rgba(153, 149, 149, 0.4)), url("../img/background.webp");
}
.section-feedback .section-inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 700px) {
  .section-feedback .section-inner {
    flex-direction: column;
  }
}
.section-feedback__block {
  margin: 150px 0 120px 0;
  background-color: rgba(2, 22, 35, 0.5);
}
@media (max-width: 1140px) {
  .section-feedback__block {
    margin: 0 10px 20px 10px;
  }
}
.section-feedback__block_left {
  flex-grow: 1.3;
}
.section-feedback__block_right {
  flex-grow: 1;
  padding: 20px;
}
.section-feedback__block_right h5 {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  margin: 6px 10px 0px 5px;
}
.section-feedback__block_right h5:nth-child(5) {
  margin-top: 32px;
}
.section-feedback__block_right h5:first-of-type {
  margin-top: 15px;
}

form {
  display: flex;
  flex-flow: column wrap;
  margin: 20px 20px 0 20px;
}
@media (max-width: 400px) {
  form {
    margin: 5px 5px 0px 5px;
  }
}

form > * {
  background-color: transparent;
  font-size: 15px;
  padding: 20px;
  font-weight: 400;
  border: none;
  border-block-end: 1px solid rgba(255, 255, 255, 0.6);
  outline: none;
  resize: none;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
form > *:focus::placeholder {
  font-weight: 700;
}
form > *::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

iframe {
  margin-top: 25px;
  width: 100%;
  height: 50%;
}

.section-footer {
  background-color: #262b2e;
}
.section-footer .section-inner {
  padding-bottom: 135px;
}
.section-footer h6 {
  text-align: center;
  margin: 0;
  padding: 85px 0 0 0;
}
.section-footer .social {
  display: flex;
  justify-content: center;
  margin-left: 0;
}
.section-footer .social__item {
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 45px;
  height: 40px;
  background-color: #8d8d8d;
  margin-right: 10px;
}
.section-footer .social__item svg {
  fill: rgba(255, 255, 255, 0.6);
}
.section-footer .social__item:hover {
  background: #6df6eb;
}
.section-footer .social__item:hover svg {
  fill: rgba(0, 0, 0, 0.9);
}
.section-footer .social__item:last-child:hover svg {
  fill: #000;
  stroke: rgba(255, 255, 255, 0.6);
}
.section-footer ul {
  padding-left: 0;
}